# GitHub Personal Access Token (requires repo scope)
GITHUB_PAT=ghp_your_personal_access_token_here

# GitHub username used for git commits
GITHUB_USER=SKO85

# Email address used for git commits
GITHUB_EMAIL=your_email@example.com
